@import "../../../variables";

.canvas-subflow-card {
  width: calc($design-components-menu-width - 2 * $app-component-padding - 14px);
  gap: 4px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;

  transition: border-color 0.2s ease, background-color 0.2s ease;

  &:hover {
    border-color: #484848;
    background-color: #484848;
    cursor: grab;
  }

  .canvas-subflow-icon {
    width: 80%;
    border: 2px solid $canvas-node-border-color;
    background-color: $canvas-node-background-color;
    border-radius: 8px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    color: $text-color-1;
  }
}