$app-padding: 16px;
$app-background-color: #292735;
$app-component-color: #141414;
$app-component-border-radius: 8px;
$app-component-gap: 8px;
$app-component-padding: 8px;
$text-color-1: #F8F8F8;
$font-size-h1: 1.4em;
$font-size-h2: 1.2em;
$font-size-h3: 1.05em;
$font-size-p1: 0.9em;
$font-size-p2: 0.75em;


$sidebar-menu-width: 13vw;
$design-components-menu-width: 18vw;
$design-canvas-width: calc(100vw - $sidebar-menu-width - $design-components-menu-width - 2 * $app-padding - 2 * $app-component-gap);