$app-padding: 16px;
$app-background-color: #292735;
$app-component-color: #141414;
$app-component-border-radius: 8px;
$app-component-gap: 8px;
$app-component-padding: 8px;
$text-color-1: #F8F8F8;
$text-color-placeholder: #C0C0C0;
$text-color-aws-analytics: #8F59EC;
$text-color-aws-compute: #F48A05;
$canvas-node-background-color: #1E1E1E;
$canvas-node-border-color: #2D2D2D;
$canvas-node-border-color-selected: #999999;
$canvas-node-tooltip-background-color: #393b40;

$sidebar-menu-width: 13vw;
$design-components-menu-width: 18vw;
$design-canvas-width: calc(100vw - $sidebar-menu-width - $design-components-menu-width - 2 * $app-padding - 2 * $app-component-gap);