@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #313337;
  margin: 0;
  padding: $app-padding;
  height: 100vh;
  width: 100vw;

  p {
    margin: 0;
  }
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
