@import "../../../variables";

.design-component-card {
  width: 100%;
  border: 2px solid $app-component-color;
  padding: 6px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
  border-radius: 14px;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  &:hover {
    border-color: #3C3C3C;
    background-color: #3C3C3C;
    cursor: grab;
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
  }

  .name-tags-container {
    display: flex;
    flex-direction: column;
    .tags-wrapper {
      display: flex;
      gap: 4px;
      flex-wrap: wrap;
    }
  }

}