@import "../../../../variables";

.save-diagram-alert-dialog {
  #header {
    display: flex;
    align-items: center;
    p {
      width: 100%;
    }

    button {
      transition: background-color 0.2s ease;
      &:hover {
        background-color: darkred;
      }
    }
  }

  .download-button {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 16px;
    border-radius: 8px;
    align-items: center;

    img {
      width: 64px;
    }

    transition: background-color 0.2s ease;

    &:hover {
      cursor: pointer;
      background-color: $canvas-node-border-color-selected;
    }

    p {
      font-weight: bold;
      width: fit-content;
    }
  }
}